* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f8f9fa;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #202224;
}

/* HEADER */
header {
  background-color: #007f9f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.4rem;
  padding: 0 2.4rem;
}

/* NAVIGATION */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
}

/* HERO SECTION  HERO 1*/

.hero {
  background-color: #13677d;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.hero-container {
  padding-top: 10rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0px 30rem;
}

.hero-1 .main-heading {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.3;
  padding-bottom: 1.3rem;
}

.heading-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.heading-list > li {
  font-size: 1.6rem;
  line-height: 1.3;
}

.goopher-container {
  position: absolute;
  width: 18rem;
  top: 15rem;
  right: 20rem;
}

/* HEADER SECTION HERO-2 */

.header-buttons {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.yellow-button {
  padding: 2rem 4rem;
  background-color: #fedd00;
  color: black;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.transparent-button {
  padding: 2rem 4rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 2rem;

  outline: none;
  border-radius: 5px;
}

.header-para {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 70rem;
}

/* COMPANIES */
.companies {
  background-color: #202224;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.companies-container {
  padding: 0 30rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.companies-head {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
}

.comapny-para {
  text-align: center;
  font-size: 1.6rem;
}

.company-link {
  color: #50b7e0;
}

.company-list-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.company-holder {
  width: 180px;
  height: 100px;
  background-color: #dee2e6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* QUOTES CONTAINER */
.main-2 {
  background-color: #2d2d2d;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.quote-container {
  padding: 0 50rem;
  display: flex;
  flex-direction: column;

  gap: 1.2rem;
}

blockquote {
  font-size: 2rem;
  text-align: center;
  line-height: 1.4;
}

.quote-container > p {
  font-size: 1.3rem;
  align-self: flex-end;
}

/* CODING SECTION */

.coding-section {
  background-color: #202224;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.coding-container {
  padding: 0px 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.code-heading {
  font-size: 3.4rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

/* CODEPIN */

.code-pin {
  background-color: #253443;
  margin: 0px 30rem;

  font-size: 1.4rem;
  line-height: 1.5;
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 2rem;
}

.code-pin p,
.output-section p {
  font-family: "Menlo", sans-serif;
}

.output-section {
  background-color: #2a2d2f;
  margin: 0px 30rem;

  font-size: 1.4rem;
  line-height: 1.5;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.coding-section-button {
  display: flex;
  margin: 2rem 30rem;
  gap: 1rem;
  align-items: center;
  font-size: 1.4rem;
}

.first-button {
  background-color: transparent;
  padding: 0.3rem;
  border: 1px solid #555;
  outline: 0;
  margin-right: auto;
  font-weight: 500;
}

.sub-button {
  color: #4fb5de;
  background-color: #2a2d2f;
  border: 0;
  outline: 0;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  font-weight: 700;
}

/* POSSIBILITY SECTION */

.possibility-container {
  padding: 0px 30rem;
}

.possibility-main-heading,
.possibility-sub-heading {
  text-align: center;
}

.possibility-main-heading {
  font-size: 3.2rem;
  font-weight: 500;
}

.possibility-sub-heading {
  font-size: 1.4rem;
}

.possibility-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.possibility-sub-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.possibility-logo {
  width: 40px;
}

.sub-container-1-a {
  background-color: #2d2d2d;
  padding: 3rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 20rem;
}

.possibility-heading {
  font-size: 1.6rem;
  font-weight: 600;
}

.posibility-body {
  font-size: 1.4rem;
  line-height: 1.6;
}

.sub-container-1-b {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
  border: 1px solid #2d2d2d;
}

.sub-container-1-b > p {
  font-size: 1.4rem;
}

.possibility-link-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.possibility-link-container > a {
  color: #4ba6cb;
  background-color: #2d2d2d;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
}

.possibility-learn-more {
  font-size: 1.4rem;
  text-decoration: none;
  color: #4ba6cb;
}

.last-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: #2d2d2d;
}
.last-container a {
  text-decoration: none;
  font-size: 1.4rem;
  background-color: #4ba6cb;
  padding: 0.7rem;
  border-radius: 3px;
}

/* SECOND LAST CONTAINER */

.s-last-container {
  padding: 5rem 30rem;
  display: flex;
  justify-content: space-between;
}

.s-last-container-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.s-last-conatiner-head {
  font-size: 3.2rem;
  font-weight: 500;
}
.s-last-container-1 p:nth-child(2) {
  font-size: 1.6rem;
  line-height: 1.5;
}

.s-last-button {
  display: flex;
  gap: 2rem;
}

.s-last-button-1 {
  background-color: transparent;
  padding: 0.6rem 2rem;
  border-radius: 3px;
  border: none;
  outline: 0;
  background-color: #4aa6cb;
}

.s-last-button-2 {
  padding: 0.6rem;
  border-radius: 2px;
  border: none;
  outline: 0;
  background: transparent;
  color: #4aa6cb;
}

.s-right-container {
  display: flex;
  gap: 6rem;
}

.container-left,
.container-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
